.inputer-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(8, 1fr);
  gap: 16px 8px;
}

.idc-inputer, .curve-inputer {
  all: unset;
  overflow: visible;
  position: relative;
  background-color: var(--md-sys-color-background-text);
  border-radius: 10px;
  padding: 0;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.idc-inputer:after, .curve-inputer:after {
  font-size: 8px;
  position: absolute;
  top: 100%;
  opacity: 0.5;
}

.idc-inputer:nth-child(1):after{content:"LR"}
.idc-inputer:nth-child(2):after{content:"UD"}
.idc-inputer:nth-child(3):after{content:"LL"}
.idc-inputer:nth-child(4):after{content:"UU"}
.idc-inputer:nth-child(5):after{content:"OC"}
.idc-inputer:nth-child(6):after{content:"OD"}
.idc-inputer:nth-child(7):after{content:"OU"}
.idc-inputer:nth-child(8):after{content:"OR"}
.idc-inputer:nth-child(9):after{content:"OL"}
.idc-inputer:nth-child(10):after{content:"RD"}
.idc-inputer:nth-child(11):after{content:"LD"}
.idc-inputer:nth-child(12):after{content:"RU"}
.idc-inputer:nth-child(13):after{content:"LU"}
.idc-inputer:nth-child(14):after{content:"XX"}
.idc-inputer:nth-child(15):after{content:"MI"}
.idc-inputer:nth-child(16):after{content:"RO"}
.idc-inputer:nth-child(17):after{content:"SU"}
.idc-inputer:nth-child(18):after{content:"RE"}

.curve-inputer:nth-child(20):after{content:"ULQ";}
.curve-inputer:nth-child(21):after{content:"URQ";}
.curve-inputer:nth-child(22):after{content:"LRQ";}
.curve-inputer:nth-child(23):after{content:"LLQ";}

.placeholder {
  grid-column: span 2;
}

pre {
  min-height: 68px;
  white-space: unset;
}

code {
  white-space: pre-wrap;
}
